@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
.navbar-brand{
    font-family: 'Racing Sans One', cursive;
    font-size: 25px;
}

h1 {
    font-family: 'Racing Sans One', cursive;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

.card {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

#profile-card {
    width: 18rem;
    margin-top: 2em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 2em;
    text-align: center;
}
#profile-card img {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#profile-card .card-title {
    font-weight: 700;
    font-size: 1.5em;
}


#hero {
    background-image: url(../img/slide01.jpg);
    background-repeat: no-repeat;
    background-position: center 10%;
    height: 450px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
        height: 300px;
    }
}


